.wrapper ul {
  list-style-type: square;
  padding-left: 26px;
  margin: 0;
}

.card {
  border: 1px solid var(--mui-palette-border-light);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.card:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.titleWrapper {
  display: flex;
  gap: 16px;
  flex-direction: row;
  align-items: center;
}

@media (min-width: 600px) {
  .card:first-of-type {
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: -1px;
  }

  .card:last-of-type {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
