.container {
  margin-top: 0px;
  margin-bottom: 75px;
}

.imagesWrapper {
  position: relative;
  overflow: hidden;
}

.gif {
  position: absolute;
  top: 50px;
  left: 25px;
  transform: scale(1.5);
  z-index: -1;
}

.particleWrapper {
  animation: scale-up-down 15s cubic-bezier(0, 1, 0.06, 1.03) infinite;
  transform-origin: center;
  width: 130%;
  height: 130%;
  position: absolute;
  z-index: -1;
  top: -15%;
  left: -15%;
}

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: url('#gooey');
  z-index: -1;
}

.button {
  font-size: 18px;
  line-height: 26px;
  padding: 15px 22px;
}

.downloads {
  display: flex;
  gap: 12px;
}

.downloads svg {
  width: 134px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

@media (min-width: 600px) {
  .container {
    margin-top: 100px;
    margin-bottom: 180px;
  }

  .imagesWrapper {
    overflow: visible;
  }

  .image {
    margin-top: 30px;
    width: 90%;
  }

  .gif {
    top: 50px;
    left: -5px;
    transform: scale(2);
  }

  .button {
    padding: 8px 16px;
    height: 54px;
  }

  .downloads {
    justify-content: space-between;
    gap: 8px;
  }

  .downloads svg {
    width: 181px;
  }

  .title {
    font-size: 80px;
    line-height: 82px;
  }
}

@keyframes scale-up-down {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
