.block a {
  text-decoration: underline;
  color: var(--mui-palette-secondary-light);
}

.block {
  max-width: 1045px;
}

.block div {
  border: 1px solid var(--mui-palette-primary-main);
  border-radius: 16px;
  margin: 27px 0px 33px 0px;
}

.block div p {
  padding: 32px 30px 26px 30px;
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}

.block ul li::marker {
  color: var(--mui-palette-primary-main);
}
