.container {
  position: relative;
}

.textBlock a {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.textFirst,
.imageFirst {
  flex-direction: column-reverse;
}

.textFirstMobile {
  flex-direction: column;
}

.gradientCaption {
  background: linear-gradient(to left, #12ff80, #5fddff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 600px) {
  .textFirst {
    flex-direction: row;
  }

  .imageFirst {
    flex-direction: row-reverse;
  }

  .spot1 {
    position: absolute;
    right: -50px;
    top: -650px;
    z-index: -1;
    width: 1600px;
    height: 1600px;
    background-image: radial-gradient(at right, rgba(18, 255, 128, 0.3) 0%, rgba(246, 247, 248, 0) 50%);
    filter: blur(70px);
  }
}
