.heroSpacer {
  position: relative;
  height: 1085px;
  overflow-x: hidden;
}

.tokenContainer {
  position: absolute;
  top: 250px;
  width: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  z-index: 20;
}

.tokenCircle1 {
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: 20;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(18, 255, 128, 0.04) 0%, rgba(115, 115, 115, 0) 100%);
}

.tokenCircle2 {
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  min-width: 375px;
  min-height: 375px;
  max-width: 518px;
  max-height: 518px;
  background: linear-gradient(180deg, rgba(18, 255, 128, 0.04) 0%, rgba(115, 115, 115, 0) 100%);
}

.tokenCircle3 {
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 331px;
  height: 331.19px;
  background: rgba(18, 255, 128, 0.3);
  filter: blur(100px);
}

.title {
  text-align: center;
  width: max-content;
  max-width: 800px;
}

.button {
  width: fit-content;
  margin-top: 45px;
}

.scroll {
  margin: 40px auto 0;
  text-align: center;
  font-size: 12px;
  color: var(--mui-palette-text-primary);
}

.scroll::after {
  content: '';
  display: block;
  background-image: url('/images/angle-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: auto;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  top: 220px;
}

.scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.container:hover .scroll {
  opacity: 1;
}

@media (max-width: 768px) {
  .title {
    width: 90vw;
  }
}

.Ring1,
.Ring2,
.Ring3,
.Ring4,
.Ring5 {
  display: none;
}

@media (min-width: 250px) {
  .Ring1 {
    display: block;
  }
}

@media (min-width: 550px) {
  .Ring2 {
    display: block;
  }
}

@media (min-width: 735px) {
  .Ring3 {
    display: block;
  }
}

@media (min-width: 905px) {
  .Ring4 {
    display: block;
  }
}

@media (min-width: 1084px) {
  .Ring5 {
    display: block;
  }
}
