.title {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.sliderWrapper {
  margin-top: 96px;
  margin-bottom: -80px;
}

@media (min-width: 600px) {
  .title {
    max-width: 800px;
  }

  .sliderWrapper {
    margin-bottom: -120px;
  }
}

@media (min-width: 1440px) {
  .sliderWrapper {
    margin-left: -104px;
    margin-right: -104px;
  }
}
