.metricWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.metric {
    margin: 0;
    font-size: 64px;
    line-height: 64px;
    color: var(--mui-palette-primary-main);
    background: linear-gradient(90deg, rgba(15,255,128,1) 0%, rgba(94,221,255,1) 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.metricLabel {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    color: var(--mui-palette-primary-light);
    text-transform: uppercase;
}

@media (min-width: 600px) {
    .metric {
        font-size: 80px;
        line-height: 100px;
    }

    .metricWrapper {
        gap: 40px;
    }
}