.appBar {
  border-bottom: 1px solid var(--mui-palette-border-light);
  font-size: 20px;
  position: sticky;
  background-color: var(--mui-palette-background-main);
}

.wrapper {
  margin-top: 0;
}

.card {
  background: var(--mui-palette-border-background);
  box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
  border-radius: 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  position: relative;
  transition: 0.3s;
  height: 300px;
}

.searchField :global .MuiInputBase-root {
  background: white;
}

.image {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.image > img {
  object-fit: contain;
}

.socials {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  gap: 8px;
}

.categories {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.chip {
  border-radius: 4px;
  height: 23px;
  font-size: 14px;
}

.sidebar {
  display: none;
}

.accordion {
  background-color: transparent;
  margin: 0 !important;
}

/* Remove double borders between Accordions */
.accordion + .accordion {
  clip-path: inset(0px -1px -1px -1px);
}

.accordion :global .Mui-expanded {
  min-height: unset;
}

.accordion :global .MuiAccordionSummary-expandIconWrapper {
  margin-right: 2px;
}

.accordion :global .MuiAccordionSummary-content {
  margin: 16px 0 !important;
}

.accordion :global .Mui-expanded .MuiAccordionSummary-content {
  margin-bottom: 8px !important;
}

.accordion :global .MuiAccordionDetails-root {
  padding-top: 0;
}

.list {
  padding-top: 0;
  padding-bottom: 0;
}

.list :global .MuiListItemText-root {
  margin-top: 8px;
  margin-bottom: 8px;
}

.list :global .MuiListItemSecondaryAction-root {
  right: 0px;
}

.chipContainer {
  display: flex;
  gap: 8px;
}

.filterButton {
  border: 1px solid var(--mui-palette-border-light);
  color: var(--mui-palette-text-primary);
  font-size: 16px;
  padding: 16px 20px;
}

.filterButton :global .MuiButton-startIcon {
  margin-right: 20px;
}

.filterButton :global .MuiButton-startIcon svg {
  margin: 4px;
}

.filterWrapper {
  padding: 0 16px 20px;
  background-color: var(--mui-palette-background-main);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.filterWrapper :global .MuiPaper-root {
  box-shadow: unset;
}

.filterWrapper :global .MuiPaper-root:not(:last-child) {
  border-bottom: 1px solid var(--mui-palette-border-light);
}

@media (min-width: 600px) {
  .filterButton {
    display: none;
  }

  .sidebar {
    display: block;
  }
}
