.videoWrapper {
  position: relative;
}

.video {
  width: 100%;
  border-radius: 16px;
}

.videoLink {
  position: absolute;
  text-indent: -9999px;
  border-radius: 12px;
}

.smartContractsLink {
  position: absolute;
  width: 18.2%;
  height: 14.3%;
  left: 33.1%;
  top: 16%;
  text-indent: -9999px;
  border-radius: 4px;
}

.sdkLink {
  position: absolute;
  width: 12%;
  height: 14.6%;
  left: 61.6%;
  top: 39.4%;
  text-indent: -9999px;
  border-radius: 4px;
}

.infrastructureLink {
  position: absolute;
  width: 18.4%;
  height: 14.7%;
  left: 25.8%;
  top: 61.7%;
  text-indent: -9999px;
  border-radius: 4px;
}

.videoLink:hover {
  background-color: white;
  filter: blur(20px);
  mix-blend-mode: soft-light;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .smartContractsLink {
    width: 18%;
    height: 14.6%;
    left: 33.3%;
    top: 16.3%;
  }

  .sdkLink {
    width: 12.1%;
    height: 14.6%;
    left: 61.6%;
    top: 40.2%;
  }

  .infrastructureLink {
    width: 18%;
    height: 14.5%;
    left: 26%;
    top: 63%;
  }
}

@media (min-width: 1440px) {
  .videoWrapper {
    margin-left: -104px;
    margin-right: -104px;
  }
}
