.wrapper > div {
  margin-bottom: 80px;
}

.chip {
  border-color: var(--mui-palette-primary-main);
  width: fit-content;
  height: 24px;
  margin-top: 24px;
}

.videoWrapper {
  position: relative;
}

.video {
  width: 100%;
  border-radius: 16px;
}

.videoLink {
  position: absolute;
  text-indent: -9999px;
  border-radius: 12px;
}

.authKitLink {
  position: absolute;
  width: 36.7%;
  height: 15.7%;
  left: 5.8%;
  top: 25.5%;
  text-indent: -9999px;
  border-radius: 12px;
}

.onRampKitLink {
  position: absolute;
  width: 37.8%;
  height: 15.5%;
  left: 58%;
  top: 21.9%;
  text-indent: -9999px;
  border-radius: 8px;
}

.relayKitLink {
  position: absolute;
  width: 38.1%;
  height: 15.5%;
  left: 59.4%;
  top: 58.1%;
  text-indent: -9999px;
  border-radius: 8px;
}

.protocolKitLink {
  position: absolute;
  width: 41%;
  height: 15.7%;
  left: 2.8%;
  top: 61.5%;
  text-indent: -9999px;
  border-radius: 8px;
}

.videoLink:hover {
  background-color: white;
  filter: blur(20px);
  mix-blend-mode: soft-light;
}

@media (min-width: 600px) {
  .wrapper {
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .authKitLink {
    width: 22.7%;
    height: 17.3%;
    left: 21.8%;
    top: 23%;
  }

  .onRampKitLink {
    width: 23.7%;
    height: 17.1%;
    left: 54.3%;
    top: 18.9%;
  }

  .relayKitLink {
    width: 23.6%;
    height: 17.1%;
    left: 55.3%;
    top: 59.1%;
  }

  .protocolKitLink {
    width: 25.7%;
    height: 17.1%;
    left: 19.9%;
    top: 62.8%;
  }
}

@media (min-width: 1440px) {
  .videoWrapper {
    margin-left: -104px;
    margin-right: -104px;
  }
}
