.bigTitle {
  font-size: 64px;
  line-height: 64px;
}

.linkButton {
  margin-top: 24px;
}

.shortPadding {
  padding: 8px 0 !important;
}

@media (min-width: 900px) {
  .alignEnd {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .bigTitle {
    font-size: 80px;
    line-height: 88px;
  }
}
