.container {
  padding: 60px 24px;
  margin-top: 120px;
  text-align: start;
  position: relative;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 24px;
  color: var(--mui-palette-text-dark);
  overflow: hidden;
}

.container iframe {
  border: 0;
  z-index: 1000;
  width: 100%;
}

.image {
  display: none;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .container {
    padding: 104px;
  }

  .image {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
    overflow: hidden;
  }
}
