.gridItems {
  border: 1px solid var(--mui-palette-border-light);
  padding: 24px;
}

.gridItems:not(:first-of-type) {
  border-left: 1px solid var(--mui-palette-border-light);
}

.gridItems:not(:last-of-type) {
  border-bottom: none;
}

.gridItems:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.gridItems:last-of-type {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media (min-width: 900px) {
  .threeCols:not(:nth-of-type(1 + n * 3)),
  .fourCols:not(:nth-of-type(1 + n * 4)) {
    border-left: none;
  }

  .threeCols:nth-last-of-type(1),
  .fourCols:nth-last-of-type(1),
  .threeCols:nth-last-of-type(2),
  .fourCols:nth-last-of-type(2),
  .threeCols:nth-last-of-type(3),
  .fourCols:nth-last-of-type(3),
  .fourCols:nth-last-of-type(4) {
    border-bottom: 1px solid var(--mui-palette-border-light);
  }

  .gridItems:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: unset;
  }

  .threeCols:nth-last-of-type(3),
  .fourCols:nth-last-of-type(4) {
    border-bottom-left-radius: 12px;
  }

  .gridItems:last-of-type {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: 12px;
  }

  .threeCols:nth-of-type(3),
  .fourCols:nth-of-type(4) {
    border-top-right-radius: 12px;
  }
}

.comingSoonChip {
  border-color: var(--mui-palette-primary-main);
  width: fit-content;
  height: 24px;
  margin-top: 24px;
}
