.gridItems {
  border: 1px solid var(--mui-palette-border-light);
  padding: 24px;
}

.gridItems:not(:first-of-type) {
  border-left: 1px solid var(--mui-palette-border-light);
}

.gridItems:not(:last-of-type) {
  border-bottom: none;
}

.gridItems:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.gridItems:last-of-type {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media (min-width: 900px) {
  .gridItems:not(:first-of-type) {
    border-left: none;
  }

  .gridItems:not(:last-of-type) {
    border-bottom: 1px solid var(--mui-palette-border-light);;
  }

  .gridItems:first-of-type {
    border-top-left-radius: 12px;
    border-top-right-radius: unset;
    border-bottom-left-radius: 12px;
  }

  .gridItems:last-of-type {
    border-top-right-radius: 12px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: 12px;
  }
}
