.gridItems {
  border: 1px solid var(--mui-palette-border-light);
  padding: 24px;
}

.gridItems:not(:first-of-type) {
  border-left: none;
}

.gridItems:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.gridItems:last-of-type {
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

@media (min-width: 900px) {
    .gridItems:first-of-type {
      border-top-left-radius: 12px;
      border-top-right-radius: unset;
      border-bottom-left-radius: 12px;
    }

    .gridItems:last-of-type {
      border-top-right-radius: 12px;
      border-bottom-left-radius: unset;
      border-bottom-right-radius: 12px;
    }
}
