.bg {
    background: rgba(15,255,128,1); /* fallback */
    background-image: url('/images/devices.png'); /* fallback */
    background-image: url('/images/devices.png'), linear-gradient(45deg, rgba(15,255,128,1) 0%, rgba(94,221,255,1) 100%);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 35%;
    margin: 0 16px 80px;
    border-radius: 24px;
}

.buttons {
    display: flex;
    gap: 16px;
}

.buttons svg {
    display: block;
}

@media (min-width: 600px) {
    .bg {
        margin: 0 30px 80px;
    }
}