.box {
  width: 80px;
  height: 80px;
  margin: 16px;
  position: relative;
  filter: url('#square-gooey');
}

.rect {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-color: #12ff80;
  transition: background-color 0.1s;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}

.rectTl {
  animation-name: rect-anim-tl;
}

.rectTr {
  animation-name: rect-anim-tr;
}

.rectBl {
  animation-name: rect-anim-bl;
}

.rectCenter {
  visibility: hidden;
  animation: none;
  transition: transform 1s ease-out;
  transform: translateY(30px) translateX(30px) scale(0);
}

.rectBr {
  animation-name: rect-anim-br;
}

@keyframes rect-anim-tl {
  0% {
    transform: translateX(0) translateY(0) scale(2);
  }
  25% {
    transform: translateX(50px) translateY(0) scale(1);
  }
  50% {
    transform: translateX(50px) translateY(50px) scale(2);
  }
  75% {
    transform: translateX(0) translateY(50px) scale(1);
  }
  100% {
    transform: translateX(0) translateY(0) scale(2);
  }
}

@keyframes rect-anim-tr {
  0% {
    transform: translateX(50px) translateY(0) scale(1);
  }
  25% {
    transform: translateX(50px) translateY(50px) scale(2);
  }
  50% {
    transform: translateX(0) translateY(50px) scale(1);
  }
  75% {
    transform: translateX(0) translateY(0) scale(2);
  }
  100% {
    transform: translateX(50px) translateY(0) scale(1);
  }
}

@keyframes rect-anim-br {
  0% {
    transform: translateX(50px) translateY(50px) scale(2);
  }
  25% {
    transform: translateX(0) translateY(50px) scale(1);
  }
  50% {
    transform: translateX(0) translateY(0) scale(2);
  }
  75% {
    transform: translateX(50px) translateY(0) scale(1);
  }
  100% {
    transform: translateX(50px) translateY(50px) scale(2);
  }
}

@keyframes rect-anim-bl {
  0% {
    transform: translateX(0) translateY(50px) scale(1);
  }
  25% {
    transform: translateX(0) translateY(0) scale(2);
  }
  50% {
    transform: translateX(50px) translateY(0) scale(1);
  }
  75% {
    transform: translateX(50px) translateY(50px) scale(2);
  }
  100% {
    transform: translateX(0) translateY(50px) scale(1);
  }
}
