.letterContainer {
  position: relative;
  width: 396px;
  margin: 24px auto;
}

.letter {
  font-family: 'Chivo Mono Regular', sans-serif;
  background-color: var(--mui-palette-background-main);
  padding: 32px;

  font-size: 16px;
  line-height: 40px;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 8px;
  margin-bottom: 32px;
}

.logoWrapper svg {
  height: 48px;
  width: auto;
}

.logoWrapper img {
  height: 100%;
}

.redactedContainer {
  position: relative;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.alwaysVisible {
  visibility: visible;
  margin-top: 5px;
}

.mask {
  position: absolute;
  top: 5px;
}

.visibilityIcon {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.intro {
  margin-top: 80px;
}

.invitation {
  margin-top: 100px;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 86px;
  margin-top: 40px;
  font-size: 18px;
}

.cta button {
  margin-top: 20px;
}

.stickyRsvp {
  border-top: 2px solid var(--mui-palette-primary-main);
  background-color: var(--mui-palette-background-main);
  padding: 24px;
  position: sticky;
  bottom: 0px;
  z-index: 1000;
  visibility: visible;
  margin-inline: -37px;
}

.rsvp {
  display: flex;
  flex-direction: column;
}

.stickyRsvp .rsvp {
  align-items: center;
}

.rsvp button {
  width: 166px;
  height: 56px;
}

.telegram button {
  height: 56px;
  border: 2px solid var(--mui-palette-primary-main);
}

.telegram button img {
  margin-right: 4px;
}

.signature {
  margin-top: 48px;
}

@media (min-width: 600px) {
  .letterContainer {
    width: 613px;
    height: 1540px;
  }

  .under {
    transform: rotate(-5deg);
    top: 10px;
    left: 10px;
  }

  .card {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--mui-palette-border-light);
  }

  .mask {
    top: 5px;
  }

  .intro {
    margin-top: 60px;
  }

  .invitation {
    margin-top: 68px;
  }

  .cta {
    margin-top: 142px;
    gap: 100px;
  }
}

@media (min-width: 900px) {
  .letterContainer {
    width: 1250px;
    height: 1218px;
  }

  .under {
    transform: rotate(-5deg);
    top: 10px;
    left: 10px;
  }

  .letter {
    font-size: 18px;
    padding: 48px 248px;
  }

  .mask {
    width: 97%;
    top: -2px;
  }

  .intro {
    margin-top: 60px;
  }

  .invitation {
    margin-top: 55px;
  }

  .cta {
    display: flex;
    flex-direction: row;
    gap: 128px;
    font-size: 22px;
    margin-top: 50px;
  }

  .signature {
    margin-top: 62px;
  }
}
