.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textBlock a {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.partnersBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textFirst,
.imageFirst {
  flex-direction: column-reverse;
}

.textFirstMobile {
  flex-direction: column;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.logo {
  height: 18px;
}

@media (min-width: 600px) {
  .textFirst {
    flex-direction: row;
  }

  .imageFirst {
    flex-direction: row-reverse;
  }

  .logo {
    height: 24px;
  }
}
