.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 300px;
}

.imageWrapper {
  background-image: url('/images/Teaser/poster.png');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: contain;
  width: 99.6%;
  position: relative;
  left: 0.5px;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.video {
  box-sizing: border-box;
  display: block;
  width: 100%;
  object-fit: contain;
}

.video.ready {
  transition: opacity 0.3s ease;
  opacity: 1 !important;
}

@media (min-width: 600px) {
  .container,
  .imageWrapper {
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .container,
  .imageWrapper {
    max-width: 1440px;
  }
}
