.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.videoWrapper,
.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.videoWrapper {
  opacity: 1;
  visibility: visible;
}

.videoWrapper.hidden {
  opacity: 0;
  visibility: hidden;
}

.imageWrapper {
  background-image: url('/images/Teaser/poster.png');
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;

  opacity: 0;
  visibility: hidden;
}

.imageWrapper.visible {
  opacity: 1;
  visibility: visible;
}

.button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
  width: 150%;

  display: flex;
  flex-direction: column;
}

.image {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.imageWrapper.visible .image {
  opacity: 1;
}

.video {
  box-sizing: border-box;
  display: block;
  width: 100%;

  height: 100vh;
  object-fit: cover;
}

.video.ready {
  transition: opacity 0.3s ease;
  opacity: 1 !important;
}

.mobileVideo {
  display: block;
}

.desktopVideo {
  display: none;
}

@media (min-width: 600px) {
  .container,
  .imageWrapper {
    aspect-ratio: 16 / 9;
    margin: 0 auto;
  }

  .imageWrapper {
    background-size: contain;
  }

  .button {
    width: 100%;
  }

  .image {
    max-width: 40%;
  }

  .video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  .mobileVideo {
    display: none;
  }

  .desktopVideo {
    display: block;
  }
}

@media (min-width: 1440px) {
  .container,
  .imageWrapper {
    max-width: 1440px;
  }
}
