.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cta {
  background: linear-gradient(260.13deg, #12ff80 1.24%, #5fddff 102.14%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
