.sectionContainer {
  height: 300vh;
  display: flex;
}

.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.slidingPanelContent {
  z-index: 20;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 64px;
  height: 100%;
  gap: 30px;
}

.canvasStyles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 72px;
}

.title {
  z-index: 30;
  pointer-events: none;
}

@media (max-width: 900px) {
  .slidingPanelContent {
    padding-left: 32px;
    padding-right: 108px;
  }

  .canvasStyles {
    margin-top: 64px;
  }
}
