.sectionContainer {
  height: 300vh;
  display: flex;
}

.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.rightPanelContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  color: var(--mui-palette-text-dark);
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding-top: 64px;
}

.rightPanelContent {
  z-index: 20;
  display: flex;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 64px;
  height: 100%;
  gap: 30px;
}

.canvasStyles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  margin-top: 72px;
}

.title {
  z-index: 30;
}

.rightPanelBG {
  position: absolute;
  inset: 0;
  background-color: var(--mui-palette-primary-main);
  z-index: 10;
  margin-top: 72px;
}

@media (max-width: 900px) {
  .rightPanelContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
  }
  .rightPanelContent {
    padding-left: 32px;
    padding-right: 108px;
  }
  .canvasStyles {
    margin-top: 64px;
  }
  .title {
    font-size: 56px;
    line-height: 60px;
  }
  .rightPanelBG {
    margin-top: 0px;
  }
}
