.container {
  margin-top: 80px;
}

.container .caption {
  margin-bottom: 16px;
}

.container a {
  color: var(--mui-palette-primary-main);
  text-decoration: underline;
}

.container .body {
  font-size: 15px;
  line-height: 24px;
  color: var(--mui-palette-primary-light);
}

.container :global .MuiDivider-root {
  margin-top: 80px;
}
