.card {
  background: var(--mui-palette-border-background);
  box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 100%;
  position: relative;
  transition: 0.3s;
  min-height: 272px;
}

.header {
  margin-bottom: auto;
}

.card:hover .arrow {
  transform: rotate(45deg);
}

.cardTitle {
  margin-bottom: 16px;
}

.arrow {
  position: absolute;
  top: 24px;
  right: 24px;
  transition: transform 0.3s;
}

/* Highlight */
.highlight:hover {
  background-image: linear-gradient(45deg, var(--mui-palette-primary-main) 25%, var(--mui-palette-info-dark) 100%);
}

.highlight:hover * {
  color: var(--mui-palette-background-main) !important;
}

.highlight:hover svg path {
  fill: var(--mui-palette-background-main) !important;
}

.highlight .link div::after {
  background-color: var(--mui-palette-background-main) !important;
}

/* Outline */
.outline:hover {
  box-shadow: inset 0 0 0 2px var(--mui-palette-primary-main);
}

.outline:hover .arrow path {
  fill: var(--mui-palette-primary-main);
}

.outline .link div::after {
  background-color: var(--mui-palette-primary-main) !important;
}

.outline .link:hover path {
  fill: var(--mui-palette-primary-main) !important;
}

@media (min-width: 600px) {
  .cardTitle {
    margin-bottom: 24px;
  }
}
