.card {
  box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
  height: 100%;
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 8px;
  transition-duration: var(--transition-duration);
  height: 300px;
  background-color: var(--mui-palette-background-default);
}

.cardHeader {
  height: 24px;
}

.cardHeader img {
  height: 100%;
  width: auto;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
}

.card:hover .arrow path {
  fill: var(--mui-palette-primary-main);
}

.card:hover .arrow {
  transform: rotate(45deg);
}

.arrow {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 16px;
  height: 16px;
  transition: transform var(--transition-duration);
}

/* Highlight */
.highlight:hover {
  background-image: linear-gradient(45deg, var(--mui-palette-primary-main) 25%, var(--mui-palette-info-dark) 100%);
}

.highlight:hover * {
  color: var(--mui-palette-background-main) !important;
}

.highlight:hover svg path {
  fill: var(--mui-palette-background-main) !important;
}

.highlight .link div::after {
  background-color: var(--mui-palette-background-main) !important;
}

/* Outline */
.outline:hover {
  box-shadow: inset 0 0 0 2px var(--mui-palette-primary-main);
}

.outline:hover .arrow path {
  fill: var(--mui-palette-primary-main);
}

.outline .link div::after {
  background-color: var(--mui-palette-primary-main) !important;
}

.outline .link:hover path {
  fill: var(--mui-palette-primary-main) !important;
}
