.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  position: relative;
}

.title {
  max-width: 566px;
  width: 100%;
  text-align: center;
  padding-bottom: 60px;
}

.image {
  max-width: 100%;
}

.buttonsWrapper {
  display: none;
}

.item:nth-child(1) {
  position: absolute;
  top: -100px;
  left: 0;
}

.item:nth-child(2) {
  display: none;
  position: absolute;
  bottom: -180px;
  right: 0;
}

@media (min-width: 700px) {
  .image {
    max-width: 670px;
  }

  .buttonsWrapper {
    display: block;
  }

  .item:nth-child(2) {
    display: block;
  }
}
