.bg {
  margin-top: 200px;
  margin-left: -20px;
  width: 250px;
}

.gridContainer {
  position: relative;
}

.spot {
  position: absolute;
  left: -300px;
  top: -150px;
  z-index: -1;
  width: 800px;
  height: 800px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.5), rgba(18, 19, 18, 1) 80%);
  filter: blur(50px);
}

.title {
  text-align: center;
}

.accordion {
  background-color: unset;
  box-shadow: none;
  border-bottom: 1px solid var(--mui-palette-border-main);
}

.accordion::before {
  display: none;
}

.accordion :global .MuiAccordionSummary-root {
  padding: 0;
}

.accordion :global .MuiAccordionSummary-content {
  margin: 32px 0;
}

.accordion :global .MuiAccordionDetails-root {
  padding: 0 0 32px;
}

@media (min-width: 900px) {
  .bg {
    position: absolute;
    left: -35px;
    width: 300px;
    margin-top: 440px;
  }
}
