.metricWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.metric {
  width: fit-content;
}

.metric span {
  transition: color var(--transition-duration) ease;
}

.metric:hover span {
  color: var(--mui-palette-primary-main);
}

.value {
  margin: 0;
  font-size: 64px;
  line-height: 64px;
  background: linear-gradient(90deg, rgba(15, 255, 128, 1) 0%, rgba(94, 221, 255, 1) 60%);
  background-clip: text;
  color: transparent;
}

@media (min-width: 600px) {
  .value {
    font-size: 80px;
    line-height: 100px;
  }

  .metricWrapper {
    gap: 40px;
  }
}
