.container {
  text-align: center;
  background-color: var(--mui-palette-secondary-background);
  border-radius: 32px;
  padding: 24px 24px 80px;
  justify-content: space-between;
  margin-bottom: 40px;
  background-position: right;
  background-size: cover;
  position: relative;
}

.spot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  width: 50%;
  height: 300px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.8), rgba(18, 19, 18, 1) 100%);
  filter: blur(50px);
}

.text {
  margin-bottom: 16px;
}

.button {
  color: var(--mui-palette-secondary-main);
}

.chip {
  border-color: var(--mui-palette-text-primary);
  width: fit-content;
}

.linkButton {
  display: none;
}

.footer {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 24px;
  width: max-content;
}

.tagline {
  color: var(--mui-palette-primary-light);
  text-transform: uppercase;
}

@media (min-width: 900px) {
  .container {
    padding: 90px 104px;
    border-bottom: 80px;
    text-align: left;
  }

  .spot {
    width: 300px;
    right: 10%;
    top: 50%;
    left: unset;
    transform: translateY(-50%);
  }

  .linkButton {
    display: block;
  }

  .image {
    display: flex;
    align-items: center;
    width: 300px;
  }

  .footer {
    left: unset;
    transform: unset;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-left: -104px;
    margin-right: -104px;
  }
}
