.spot {
  position: absolute;
  left: -200px;
  top: -50px;
  z-index: -1;
  width: 600px;
  height: 600px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.3), rgba(18, 19, 18, 0.15) 60%, rgba(18, 19, 18, 1) 100%);
  filter: blur(30px);
}

.title {
  margin-bottom: 32px;
}

.title p {
  margin: 0;
}

.title u {
  color: var(--mui-palette-primary-main);
}

.listItemIcon {
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  min-width: min-content;
  width: 24px;
}
