.container {
  margin-top: 0;
  margin-bottom: 75px;
}

.container .scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.container:hover .scroll {
  opacity: 1;
}

.title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.video {
  max-width: 90%;
  height: auto;
}

.coreImage {
  width: 450px;
  height: auto;
}

.scroll {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: -40px;
  color: var(--mui-palette-text-primary);
}

.scroll::after {
  content: '';
  display: block;
  background-image: url('/images/angle-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: auto;
}

@media (min-width: 600px) {
  .container {
    padding-top: 100px;
    margin-bottom: 120px;
  }

  .title {
    font-size: 80px;
    line-height: 82px;
  }
}
