.container {
  margin-top: 0;
  margin-bottom: 75px;
}

.scroll {
  margin: 0 auto;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  position: relative;
  bottom: -40px;
  cursor: pointer;
}

.scroll span {
  color: var(--mui-palette-primary-main);
}

.container:hover .scroll {
  opacity: 1;
  animation: bounce 1s;
}

.scroll::after {
  content: '';
  display: block;
  background-image: url('/images/angle-down-primary.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: auto;
}

.title {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.video {
  max-width: 90%;
  height: auto;
}

.coreImage {
  width: 450px;
  height: auto;
}

@media (min-width: 600px) {
  .container {
    padding-top: 30px;
    margin-bottom: 120px;
  }

  .title {
    font-size: 80px;
    line-height: 82px;
  }
}

@keyframes bounce {
  from,
  to {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}
