.chip {
  color: var(--mui-palette-primary-main);
  /* TODO: Use custom chip from wallet page once merged
  Uppercase transformation does not vertically align correctly */
  padding-top: 2px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.bg {
  width: 700px;
  height: 700px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
  z-index: -1;
}

.container {
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 82px 0 202px;
  margin-top: 0px;
}

.text {
  text-align: center;
}

@media (min-width: 600px) {
  .container {
    gap: 24px;
  }

  .bg {
    width: 900px;
    height: 900px;
    top: -20%;
  }

  .wrapper {
    overflow: visible;
  }
}

@media (min-width: 900px) {
  .bg {
    width: 1200px;
    height: 1200px;
    top: -65%;
  }
}
