.sectionContainer {
  width: 100%;
  height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.caption {
  color: var(--mui-palette-primary-main);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
  z-index: 2;
}

.title {
  font-size: 70px;
  text-align: center;
  line-height: 79%;
  padding-bottom: 20px;
  z-index: 2;
}

.text {
  color: #9d9fa3;
  text-align: center;
  font-size: 18px;
  max-width: 360px;
  padding-bottom: 30px;
  z-index: 2;
}

.videoWrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.videoWrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(18, 19, 18, 0) 74.78%, #121312 100%);
  pointer-events: none;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blurredGradient {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 389px;
  background: #000;
  filter: blur(150px);
  z-index: 2;
  pointer-events: none;
}

@media (min-width: 600px) {
  .blurredGradient {
    width: 600px;
  }
}

@media (min-width: 900px) {
  .sectionContainer {
    height: 863px;
  }

  .caption {
    padding-bottom: 30px;
  }

  .title {
    font-size: 100px;
    max-width: 485px;
    padding-bottom: 38px;
  }

  .text {
    font-size: 20px;
    max-width: 531px;
    padding-bottom: 40px;
  }
}
