.gradient {
  padding-top: 40px;
}

.tweetsGrid {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
}

.tweetsGrid > * {
  scroll-snap-align: center;
  height: fit-content;
  flex-shrink: 0;
  width: 300px;
}

@media (min-width: 900px) {
  .bg {
    height: 620px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    filter: url('#gooey');
    z-index: -1;
  }

  .gradient {
    height: 650px;
    position: relative;
    overflow: hidden;
  }

  .gradient:before,
  .gradient:after {
    content: '';
    top: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 10%;
  }

  .gradient:before {
    background: linear-gradient(90deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
    left: 0;
    z-index: 1;
  }

  .gradient:after {
    background: linear-gradient(270deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
    right: 0;
  }

  .tweetsGrid {
    margin-left: -20px;
    margin-right: -80px;
  }

  .tweetsGrid > * {
    flex: 1;
  }

  .tweetsGrid a:nth-of-type(2) {
    margin-top: 120px;
  }

  .tweetsGrid a:nth-of-type(4) {
    margin-top: 213px;
  }
}
