.tweetsGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

@media (min-width: 600px) {
  .tweetsGrid {
    flex-direction: row;
  }

  .tweetsGrid > * {
    flex: 1;
  }

  .tweetsGrid *:nth-child(2) {
    margin-top: 120px;
  }

  .tweetsGrid *:nth-child(4) {
    margin-top: 213px;
  }

  .gradient {
    background: url('/images/Core/tweets/bg_particles.png') no-repeat;
    background-size: contain;
    background-position: center -90px;
    height: 804px;
    padding-top: 24px;
    position: relative;
  }

  .gradient:before,
  .gradient:after {
    content: '';
    top: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 10%;
  }

  .gradient:before {
    background: linear-gradient(90deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
    left: 0;
    z-index: 1;
  }

  .gradient:after {
    background: linear-gradient(270deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
    right: 0;
  }
}
