.parallaxWrapper {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 342px;
}

.baseImage {
    width: 100%;
    height: auto;
}

.logos1 {
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
}

.logos2 {
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 100%;
}

@media (min-width: 600px) {
    .parallaxWrapper {
        width: 570px;
    }

    .logos1 {
        bottom: 25px;
        left: 0px;
    }

    .logos2 {
        bottom: 80px;
        right: 0px;
    }
}
