.parallaxWrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 342px;
}

.baseImage {
  width: 100%;
  height: auto;
}

.logos1 {
  position: absolute;
  bottom: 195px;
  left: 47px;
  width: 225px;
}

.logos2 {
  position: absolute;
  bottom: 60px;
  right: 30px;
  width: 260px;
}

@media (min-width: 600px) {
  .parallaxWrapper {
    width: 570px;
  }

  .logos1 {
    bottom: 330px;
    left: 80px;
    width: 370px;
  }

  .logos2 {
    bottom: 110px;
    left: 95px;
    width: 400px;
  }
}
