.gridContainer {
  position: relative;
}

.spot {
  position: absolute;
  left: -370px;
  top: -330px;
  z-index: -1;
  width: 800px;
  height: 800px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.5), rgba(18, 19, 18, 1) 80%);
  filter: blur(50px);
}

.accordion {
  background-color: unset;
  box-shadow: none;
  border-bottom: 1px solid var(--mui-palette-border-main);
}

.accordion :global .MuiAccordionSummary-root {
  padding: 0;
  display: flex;
  gap: 40px;
}

.accordion :global .MuiAccordionSummary-content {
  margin: 32px 0;
}

.accordion :global .MuiAccordionDetails-root {
  padding: 0 0 32px;
}

.details :global .MuiAccordionDetails-root a {
  text-decoration: underline;
}

/* Resets the paragraph margins on accordion's summary and details */
.accordion :global .MuiAccordionSummary-content p {
  margin: 0;
}

.details p:first-of-type {
  margin-top: 0;
}

.details p:last-of-type {
  margin-bottom: 0;
}
