.videoWrapper {
  position: relative;
}

.video {
  width: 100%;
}

.sliderWrapper {
  margin-top: -8px;
}

.textContainer {
  text-align: center;
  padding: 0 16px;
}

@media (min-width: 900px) {
  .gradient {
    position: absolute;
    width: 138px;
    top: 0;
    right: 0;
    bottom: 39px;
    background: linear-gradient(270deg, rgba(18, 19, 18, 0) 0%, var(--mui-palette-background-default) 100%);
    transform: scaleX(-1.005); /* prevent 1px gap glitch */
    z-index: 1;
  }

  .videoWrapper {
    margin-top: calc(-1 * var(--header-height));
  }

  .textContainer {
    position: absolute;
    top: 32%;
    left: calc(50% - 350px);
    max-width: 700px;
  }
}

@media (min-width: 1440px) {
  .videoWrapper {
    margin-left: -104px;
    margin-right: -104px;
  }
}
