.gridContainer {
  justify-content: space-between;
  gap: 80px;
  position: relative;
}

.spot {
  position: absolute;
  right: -35px;
  top: -110px;
  z-index: -1;
  width: 800px;
  height: 800px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.3), rgba(18, 19, 18, 0.15) 60%, rgba(18, 19, 18, 1) 100%);
  filter: blur(30px);
}

.textBlock {
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.textBlock > * {
  margin-bottom: 0;
}

.chip {
  border-color: var(--mui-palette-text-primary);
  width: fit-content;
}

.title p {
  margin: 0;
}

.heroFooter {
  display: flex;
  flex-direction: column;
}

.tagline {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}

.logos {
  margin: 32px 0;
  display: flex;
  gap: 48px;
  flex-wrap: wrap;
}

.chains {
  margin: 16px 0;
  display: flex;
  margin-right: 16px;
}

@media (min-width: 900px) {
  .heroFooter {
    flex-direction: row;
    justify-content: space-between;
  }
}
