.parallaxWrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 342px;
}

.baseImage {
  width: 100%;
  height: auto;
}

.placeholder {
  position: absolute;
  bottom: 100px;
  left: 0px;
  width: 278px;
}

.transaction {
  position: absolute;
  bottom: -110px;
  left: -10px;
  width: 100%;
}

@media (min-width: 600px) {
  .parallaxWrapper {
    width: 570px;
  }

  .placeholder {
    bottom: 164px;
    width: 463px;
  }

  .transaction {
    bottom: -20px;
    left: -20px;
    width: 512px;
  }
}
