.gridContainer {
  margin-top: 32px;
  position: relative;
}

.spot {
  position: absolute;
  left: -200px;
  top: -450px;
  z-index: -1;
  width: 800px;
  height: 800px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.5), rgba(18, 19, 18, 1) 80%);
  filter: blur(50px);
}

.card {
  border: 1px solid var(--mui-palette-border-main);
  border-radius: 24px;
  padding: 24px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.image {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image > img {
  width: 100%;
}

.text {
  flex-shrink: 0;
}

@media (min-width: 900px) {
  .card {
    height: 400px;
    padding: 36px;
  }

  .image {
    height: 188px;
  }
}
