.bg {
  background: url('/images/bg-circuits.png') no-repeat;
  background-position: center top 180px;
  background-repeat: no-repeat;
  overflow: auto;
}

.tokenWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.card {
  background-color: var(--mui-palette-background-default);
}

.cardBody {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid var(--mui-palette-border-light);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: 1px solid var(--mui-palette-border-light);
}

.entryText {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.cardFooter {
  border: 1px solid var(--mui-palette-border-light);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px 32px;
}

@media (min-width: 600px) {
  .container {
    margin-bottom: 140px;
  }

  .cardBody {
    padding: 32px;
  }
}
