@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Citerne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Citerne-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Citerne-Italic.woff2') format('woff2');
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Citerne, sans-serif;
}

button {
  font-family: Citerne, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
}

@media (max-width: 599px) {
  .navOpen {
    overflow-y: hidden;
  }
}

b {
  all: unset;
  color: var(--mui-palette-primary-main);
}

.h1SafeType {
  width: auto;
  height: auto;
  margin-right: 16px;
  margin-bottom: -7px;
}

.h2SafeType {
  width: 13ex;
  height: auto;
  vertical-align: bottom;
}

.body1SafeType {
  width: 11ex;
  height: auto;
  margin-bottom: -2px;
}

@media (min-width: 600px) {
  .h1SafeType {
    width: 387px;
    margin-bottom: -10px;
  }
}