:root {
  --header-height: 64px;
  --transition-duration: 0.3s;

  scroll-behavior: smooth !important;
  scroll-padding-top: 100px;
}

@media (min-width: 600px) {
  :root {
    --header-height: 72px;
  }
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Citerne-Light.woff') format('woff');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Citerne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Citerne-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url('/fonts/Citerne-Italic.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Citerne, sans-serif;
}

button {
  font-family: Citerne, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: inline-block;
}

@media (max-width: 599px) {
  .navOpen {
    overflow-y: hidden;
  }
}

b {
  all: unset;
  color: var(--mui-palette-primary-main);
}

u {
  text-decoration: none;
  display: inline-block;
  position: relative;
  line-height: 1;
  font-weight: 500;
  font-size: 90%;
}

u:before,
u:after {
  content: '{';
  display: inline-block;
  mask-repeat: no-repeat;
  mask-position: bottom;
  mask-size: contain;
  background-color: currentColor;
}

u:before {
  mask-image: url('/images/left-brace.svg');
}

u:after {
  mask-image: url('/images/right-brace.svg');
}

details summary {
  color: var(--mui-palette-primary-main);
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
}
