@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 400;
  src: url('/fonts/Citerne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Citerne';
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Citerne-Medium.woff2') format('woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Citerne, sans-serif;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 599px) {
  .navOpen {
    overflow-y: hidden;
  }
}