.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.bgImage {
  max-width: 540px;
  width: 100%;
}

.image {
  position: absolute;
  width: 90%;
  max-width: 440px;
}
