.wrapper {
  padding: 8px 12px 8px 8px;
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 200px;
  text-align: center;
}

.icon img {
  display: flex;
  align-items: center;
}

.name {
  font-size: 18px;
  line-height: 22px;
}

.newBadge {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.newBadge::before {
  content: '';
  display: inline-block;
  width: 7.5px;
  height: 7.5px;
  clip-path: circle(40%);
  background: var(--mui-palette-primary-main);
  margin-right: 4px;
}