.menuList {
  list-style: none;
  margin: 0;
  padding: 0px;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  gap: 8px;
  align-items: center;
}

.subItemTitle {
  font-size: 20px;
  line-height: 28px;
}

.tag {
  border-radius: 50px;
  background-color: #b0ffc9;
  color: var(--mui-palette-text-dark);
  height: 18px;
  font-size: 12px;
  line-height: 16px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

@media (min-width: 600px) {
  .menuList {
    padding: 12px;
    border-radius: 8px;
    min-width: 324px;
  }

  .menuList li {
    border-radius: 8px;
  }

  .menuList li:hover {
    background-color: var(--mui-palette-secondary-background);
  }

  .menuList li:hover svg {
    color: var(--mui-palette-primary-main);
  }

  .menuLink {
    gap: 8px;
  }

  .subItemTitle {
    font-size: 16px;
    line-height: 24px;
  }
}
