.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background: rgba(255, 255, 255, 0.005);
  backdrop-filter: blur(16px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
  align-items: center;
  list-style: none;
  gap: 32px;
  --transition-duration: var(--transition-duration);
}

.outerWalletButton {
  display: none;
}

.burger {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.burger span {
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.burger:before,
.burger:after {
  content: '';
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 1px;
  position: absolute;
  transition: transform var(--transition-duration);
}

.burger:before {
  top: 11px;
}

.burger:after {
  bottom: 11px;
}

.button {
  font-size: 18px;
  line-height: 26px;
  padding: 15px 0;
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: baseline;
}

@media (max-width: 599px) {
  .header {
    border-bottom: 1px solid var(--mui-palette-border-light);
    padding: 14px 16px;
  }

  .logo {
    width: 94.5px;
    height: 36px;
  }

  .navigation > li:not(:nth-last-of-type(2)) {
    border-bottom: 1px solid var(--mui-palette-border-light);
  }

  .accordion {
    background-color: var(--mui-palette-background-main);
    box-shadow: none;
  }

  .accordion :global .MuiAccordionSummary-root.Mui-expanded {
    min-height: 0px;
  }

  .accordion :global .MuiAccordionDetails-root {
    padding-top: 0px;
  }

  .categoryTitle,
  .navLink {
    font-size: 20px;
    line-height: 28px;
  }

  .navLink {
    padding: 12px 16px;
  }

  .visible .navigation {
    display: block;
    position: absolute;
    left: 0;
    top: var(--header-height);
    background: var(--mui-palette-background-main);
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0 16px 16px;
    overflow-y: scroll;
  }

  .visible .burger span {
    display: none;
  }

  .visible .burger:before {
    transform: rotate(45deg);
    top: 19px;
  }

  .visible .burger:after {
    transform: rotate(-45deg);
    bottom: 18px;
  }

  .hideInMobile {
    display: none;
  }
}

@media (min-width: 600px) {
  .hideInLaptop {
    display: none;
  }

  .header {
    padding: 0 30px;
  }

  .logo svg {
    width: 131px;
    height: 48px;
  }

  .navigation {
    display: flex;
    margin: 0;
  }

  .burger {
    display: none;
  }

  .navButton,
  .navLink {
    color: var(--mui-palette-primary-light);
    padding: 24px 0;
  }

  .navButton:hover,
  .navLink:hover,
  .navButton.active {
    transition: color var(--transition-duration);
    color: white;
  }

  .button {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    margin: 0;
  }

  .navWalletButton {
    display: none;
  }

  .outerWalletButton {
    display: block;
  }

  .menu {
    margin-left: -16px;
  }
}
