.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  position: sticky;
  top: 0;
  height: var(--header-height);
  width: 100%;
  background: rgba(255, 255, 255, 0.005);
  backdrop-filter: blur(16px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.navigation {
  display: none;
  align-items: center;
  list-style: none;
  gap: 32px;
  --transition-duration: var(--transition-duration);
}

.outerWalletButton {
  display: none;
}

.burger {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.burger span {
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 1px;
}

.burger:before,
.burger:after {
  content: '';
  width: 26px;
  height: 3px;
  background: white;
  border-radius: 1px;
  position: absolute;
  transition: transform var(--transition-duration);
}

.burger:before {
  top: 11px;
}

.burger:after {
  bottom: 11px;
}

.item {
  font-size: 28px;
  line-height: 32px;
  display: block;
  color: white;
  text-decoration: none;
  padding: 24px 0;

  transition: all var(--transition-duration);
}

.item:active {
  opacity: 0.5;
}

.item.active,
.item:hover {
  color: var(--mui-palette-primary-light);
}

.item.active {
  pointer-events: none;
}

.button {
  font-size: 18px;
  line-height: 26px;
  padding: 15px 0;
  width: 100%;
  margin-top: 24px;
  display: flex;
  align-items: baseline;
}

@media (max-width: 599px) {
  .navigation li {
    border-bottom: 1px solid var(--mui-palette-border-light);
  }

  .visible {
    background: var(--mui-palette-background-main);
  }

  .visible .navigation {
    display: block;
    position: absolute;
    left: 0;
    top: var(--header-height);
    background: var(--mui-palette-background-main);
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0;
    padding: 0 16px;
  }

  .visible .burger span {
    display: none;
  }

  .visible .burger:before {
    transform: rotate(45deg);
    top: 19px;
  }

  .visible .burger:after {
    transform: rotate(-45deg);
    bottom: 18px;
  }
}

@media (min-width: 600px) {
  .header {
    padding: 0 30px;
  }

  .navigation {
    display: flex;
  }

  .navigation :global .MuiPopover-root {
    z-index: -1;
  }

  .menu [role='menu'] {
    min-width: 324px;
  }

  .burger {
    display: none;
  }

  .item {
    font-size: 18px;
    line-height: 56px;
    padding: 0;
    border: 0;
  }

  .button {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 16px;
    margin: 0;
  }

  .navWalletButton {
    display: none;
  }

  .outerWalletButton {
    display: block;
  }

  /* TODO: decide where to keep MenuItemContent */
  .wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .wrapper:hover svg {
    color: var(--mui-palette-primary-main);
  }

  .textContainer {
    display: flex;
    flex-direction: column;
  }

  .title {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .title .tag {
    border-radius: 50px;
    background-color: #b0ffc9;
    color: var(--mui-palette-text-dark);
    height: 18px;
    font-size: 12px;
    line-height: 16px;
    padding: 0 8px;
    display: flex;
    align-items: center;
  }
}
