.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.005);
    backdrop-filter: blur(8px);
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
}

.navigation {
    display: none;
    align-items: center;
    list-style: none;
    gap: 32px;
}

.link {
    display: block;
    color: white;
    text-decoration: none;
    line-height: 56px;
}

@media (min-width: 600px) {
    .header {
        padding: 0 30px;
    }

    .navigation {
        display: flex;
    }
}