.container {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gridItems {
  padding: 24px;
  border-left: 1px solid var(--mui-palette-border-light);
  border-bottom: 1px solid var(--mui-palette-border-light);
  margin-left: -1px;
  margin-bottom: -1px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.roundCorners {
  border: 1px solid var(--mui-palette-border-light);
  border-radius: 12px;
  overflow: hidden;
}

.chapterTitle {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1.4px;
  color: #fff;
}

.title {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.title a {
  text-decoration: underline;
}
