.container {
  display: none;
}

.container img {
  width: 90%;
}

.container :global .MuiDivider-root {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
