.sectionContainer {
  height: 200vh;
  display: flex;
}

.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: 200px 128px 256px;
  overflow: hidden;
}

.label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 60px;
  color: var(--mui-palette-primary-light);
}

.title {
  margin-top: 100px;
  text-align: right;
  width: 100%;
}

.cexesContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media (max-width: 1000px) {
  .sectionContainer {
    height: 200lvh;
  }

  .stickyContainer {
    padding: 30px;
    overflow: hidden;
    padding-top: 72px;
    height: 100lvh;
    justify-content: center;
  }

  .cexesContainer {
    gap: 24px;
  }

  .cexTitle {
    font-size: 18px;
  }

  .label {
    font-size: 18px;
    padding-bottom: 12px;
  }

  .title {
    margin-top: 40px;
    text-align: left;
    font-size: 40px;
    line-height: 48px;
  }

  .cexMessage {
    font-size: 20px;
  }
}
