.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}

.title {
  text-align: center;
  max-width: 582px;
  padding-bottom: 40px;
}

.caption {
  color: var(--mui-palette-primary-main);
  padding-bottom: 20px;
}

.itemsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 1020px;
}

.itemWrapper {
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: white;
  height: 297px;
}

.itemImage {
  width: 220px;
  height: 220px;
  z-index: 1;
  padding: 8px 8px 0 8px;
  mix-blend-mode: luminosity;
}

.itemInfo {
  display: flex;
  padding: 8px 0 0 8px;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #03984880;
}

.foregroundImage {
  width: 100%;
  height: 100%;
  mix-blend-mode: overlay;
}

.itemTitle {
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.itemDescription {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
}
