.bg {
  background-position-x: center;
  background-repeat: no-repeat;
  overflow: visible;
  background-size: cover;
  position: relative;
}

.spot1 {
  position: absolute;
  left: -300px;
  top: 200px;
  width: 600px;
  height: 600px;
  background-image: radial-gradient(at top left, rgba(18, 255, 128, 0.4) 0%, rgba(246, 247, 248, 0) 80%);
  filter: blur(70px);
}

.container {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.title {
  max-width: 950px;
  text-align: center;
}

.title p,
.text p {
  margin: 0;
}

.logo {
  height: 32px;
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .container {
    margin-top: 150px;
  }
}

@media (min-width: 900px) {
  .spot1 {
    left: -100px;
    top: 100px;
    width: 700px;
    height: 700px;
  }

  .spot2 {
    position: absolute;
    right: 0px;
    top: 50px;
    width: 800px;
    height: 800px;
    background-image: radial-gradient(at right, rgba(41, 182, 246, 0.4) 0%, rgba(246, 247, 248, 0) 80%);
    filter: blur(50px);
  }

  .image {
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    background-position: center top 140px;
    position: relative;
    z-index: 1;
  }

  .gradientHorizontal:before,
  .gradientHorizontal:after {
    content: '';
    top: 0;
    display: block;
    height: 100%;
    position: absolute;
    width: 30px;
    pointer-events: none;
  }

  .gradientHorizontal:before {
    background: linear-gradient(-90deg, rgba(18, 19, 18, 0) 0%, rgb(20, 20, 20) 100%);
  }

  .gradientHorizontal:after {
    width: 1px;
    background: linear-gradient(270deg, rgba(18, 19, 18, 0.1) 0%, rgba(18, 19, 18, 0) 100%);
    right: 0px;
  }

  .text {
    text-align: center;
    max-width: 780px;
  }

  .logo {
    height: 40px;
  }
}

@media (min-width: 1536px) {
  .spot1,
  .spot2 {
    width: 1000px;
    height: 1000px;
  }
}
