.titleWrapper {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.spot {
  position: absolute;
  top: -200px;
  z-index: -1;
  width: 700px;
  height: 700px;
  background-image: radial-gradient(rgba(18, 255, 128, 0.3), rgba(18, 19, 18, 1) 100%);
  filter: blur(50px);
}

.cta {
  margin-bottom: 40px;
  background: linear-gradient(260.13deg, #12ff80 1.24%, #5fddff 102.14%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.tweetsGrid {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
}

.tweetsGrid > * {
  scroll-snap-align: center;
  height: fit-content;
  flex-shrink: 0;
  width: 300px;
  pointer-events: auto;
}

@media (min-width: 900px) {
  .tweetsGrid {
    justify-content: center;
    overflow-x: hidden;
  }

  .tweetsGrid img:nth-of-type(2n) {
    margin-top: 96px;
  }
}
