.container {
  position: relative;

}
.block {
  background-color: var(--mui-palette-primary-main);
  padding: 80px 40px;
  max-width: 100%;
}

.block div {
  max-width: 1045px;
  margin-left: 0;
}

.block h3 {
  color: var(--mui-palette-text-dark);
}
.block p {
  color: var(--mui-palette-text-dark);
}

@media (min-width: 1680px) {
  .block {
    padding: 125px 80px;
  }
  .block div {
    max-width: 957px;
    margin-left: 0;
  }
}