.container {
  position: relative;
  background-color: var(--mui-palette-primary-main);
  padding: 40px;
}
.block {
  margin: auto;
  max-width: 100%;
  color: var(--mui-palette-text-dark);
}

.block p:nth-last-of-type(1) {
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .container {
    margin-left: -104px;
    margin-right: -104px;
    padding: 125px 104px;
  }
  .block {
    max-width: 1045px;
    margin-left: 0;
  }
}
