.networksWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 8px 0;
}

.gradientBase {
  position: absolute;
  width: 94px;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(270deg, rgba(18, 19, 18, 0) 0%, var(--mui-palette-background-default) 100%);
  z-index: 1;
}

.gradientFlipped {
  left: auto;
  right: 0;
  width: 138px;
  transform: scaleX(-1);
}

.secondaryText {
  margin-top: 32px;
  text-align: center;
  color: var(--mui-palette-primary-light);
}

.animation {
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  display: flex;
  width: max-content;
  min-width: 200%;
  animation-duration: 100s;
  animation-delay: 0s;
  animation-play-state: running;
  animation-name: slide;
  gap: 8px;
}

.animationReverse {
  animation-direction: reverse;
}

.slider {
  display: flex;
  gap: 8px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 0;
}

@keyframes slide {
  to {
    transform: translate(-50%)
  }
}

@media (min-width: 600px) {
  .networksWrapper {
    gap: 24px;
  }

  .gradientBase {
    width: 337px;
  }

  .gradientFlipped {
    width: 351px;
  }

  .secondaryText {
    margin-top: 40px;
  }
}
