.container {
    position: relative;
    z-index: 10;
    overflow: hidden;
    border-radius: 24px;
    width: 300px;
    height: 428.57px;
    background-color: #111;
}

.card {
    position: absolute;
    top: 0;
    mix-blend-mode: color-dodge;
    z-index: 20;
}

.sheen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    top: 0;
    border-radius: 20px;
    mix-blend-mode: exclusion;
    filter: blur(10px);
}
