.gradientEmphasis b {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  background-clip: text;
  color: transparent;
}

.card {
  border: 1px solid var(--mui-palette-border-light);
  transition: var(--transition-duration);
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.childrenWrapper {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tagline {
  color: var(--mui-palette-text-primary);
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media (min-width: 600px) {
  .card:first-of-type {
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: -1px;
  }

  .card:last-of-type {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
