.card {
  border: 1px solid var(--mui-palette-border-light);
  transition: 0.3s;
}

.card:first-of-type {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card:hover {
  border-color: var(--mui-palette-primary-main);
  z-index: 2;
}

.card * {
  text-decoration: none;
}

.cardLink {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 32px 32px;
  z-index: 1;
}

.cardLink:hover .icon {
  transform: rotate(45deg);
}

.cardLink:hover .icon path {
  fill: var(--mui-palette-primary-main);
}

.cardLink:hover .animationWrapper div {
  animation-play-state: running;
}

.cardLink img {
  width: 100px;
  height: 100px;
}

.icon {
  position: absolute;
  top: 32px;
  right: 32px;
  transition: transform 0.3s;
}

.icon path {
  transition: fill 0.3s;
}

@media (min-width: 600px) {
  .card:first-of-type {
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-right: -1px;
  }

  .card:last-of-type {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
