.container {
    margin: 0 15px;
    border-radius: 30px;
    background: url("/images/header-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 30px;
}

.title {
    font-size: 32px;
    line-height: 32px;
    font-weight: 400;
    color: var(--mui-palette-background-default);
    margin-bottom: 24px;
}

.subtitle {
    font-size: 18px;
    line-height: 24px;
    color: var(--mui-palette-background-default);
}

.buttons {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

@media (min-width: 600px) {
    .title {
        font-size: 80px;
        line-height: 88px;
    }

    .subtitle {
        font-size: 24px;
        line-height: 36px;
    }

    .content {
        padding-left: 105px;
    }

    .container {
        height: 800px;
        padding: 0;
        margin: 0 30px;
    }
}