.container {
    margin: 0 30px;
    border-radius: 30px;
    height: 800px;
    background: url("/images/header-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.content {
    padding-left: 105px;
}

.title {
    font-size: 80px;
    line-height: 88px;
    font-weight: 400;
    color: var(--mui-palette-background-default);
    margin-bottom: 24px;
}

.subtitle {
    font-size: 24px;
    line-height: 36px;
    color: var(--mui-palette-background-default);
}

.buttons {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

.metricWrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.metric {
    margin: 0;
    font-size: 80px;
    line-height: 100px;
    font-weight: 500;
    color: var(--mui-palette-primary-main);
}

.metricLabel {
    font-size: 12px;
    line-height: 24px;
    margin: 0;
    color: var(--mui-palette-primary-light);
    text-transform: uppercase;
}