.sectionContainer {
  height: 150vh;
}

.stickyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 30px;
  position: sticky;
  top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 30px;
}

.linkContainer {
  align-self: auto;
  margin-top: 0;
  margin-right: 0;
}

.counterContainer {
  color: var(--mui-palette-primary-main);
  font-size: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 72px;
}

.box1 {
  height: 50px;
  overflow: hidden;
}

.box2 {
  height: 70px;
  overflow: hidden;
}

.digit {
  font-variant-numeric: tabular-nums;
  position: relative;
  width: 0.8ch;
  height: 120px;
}

.number {
  position: absolute;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 120px;
}

@media (min-width: 900px) {
  .sectionContainer {
    height: 200lvh;
  }

  .stickyContainer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 120px;
    height: 100lvh;
  }

  .content {
    margin-top: 80px;
    margin-right: 80px;
  }

  .contentCopy {
    font-size: clamp(60px, 8vw, 90px);
    line-height: clamp(1em, 5vw, 100px);
  }

  .linkContainer {
    align-self: flex-end;
    margin-top: 80px;
    margin-right: 50px;
  }

  .counterContainer {
    gap: 0;
  }

  .box1 {
    height: 100px;
  }

  .box2 {
    height: 150px;
  }

  .counter {
    font-size: clamp(120px, 15vw, 200px);
  }

  .digit {
    height: 215px;
    width: 1ch;
  }
}
