.sectionContainer {
  height: 150vh;
}

.stickyContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: sticky;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  gap: 60px;
  top: 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.linkContainer {
  align-self: flex-end;
  padding-left: 0px;
}

.counterContainer {
  color: var(--mui-palette-primary-main);
  font-size: 30px;
  font-weight: 400;
  display: flex;
  overflow: visible;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  width: 50%;
  padding-top: 16px;
}

.counter {
  display: flex;
  overflow: hidden;
  line-height: 1;
  justify-content: center;
}

.text {
  width: 50%;
  font-size: 80px;
  padding-left: 0px;
}

.digit {
  position: relative;
  width: 1ch;
  font-variant-numeric: tabular-nums;
  height: 1.25ch;
}

.dot {
  position: relative;
  width: 0.2ch;
  font-variant-numeric: tabular-nums;
  height: 1.25ch;
}

.percentage {
  position: relative;
  width: 1.25ch;
  font-variant-numeric: tabular-nums;
  height: 1.25ch;
}

.number {
  width: fit-content;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.counterPartial,
.counterFull {
  width: 100%;
  font-size: 150px;
}

.counterPartial {
  height: 0.7ch;
  overflow: hidden;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
  }

  .linkContainer {
    align-self: auto;
    margin-top: 0;
    margin-right: 0;
    padding-left: 15px;
  }

  .counterContainer {
    width: 100%;
  }

  .counter {
    justify-content: flex-start;
  }

  .text {
    width: 100%;
    font-size: 50px;
    padding-left: 15px;
  }

  .counterPartial,
  .counterFull {
    font-size: 120px;
  }
}

@media (min-width: 1150px) {
  .counterPartial,
  .counterFull {
    font-size: 200px;
  }

  .text {
    font-size: 90px;
  }
}
