.sectionContainer {
  height: 200vh;
}

.stickyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.headerText {
  margin-bottom: 150px;
  margin-top: 100px;
  margin-left: 50px;
}

.volumeTrailContainer {
  white-space: nowrap;
  align-items: baseline;
  gap: 24px;
  display: flex;
}

.volume {
  color: var(--mui-palette-primary-main);
  font-size: 180px;
  font-weight: 400;
}

.slidingModule {
  height: 200px;
  margin-top: 50px;
}

.linksContainer {
  position: absolute;
  top: 100px;
  right: 50px;
}

@media (max-width: 900px) {
  .headerText {
    margin-bottom: 50px;
    margin-left: 30px;
    margin-top: 0px;
    margin-right: 30px;
  }

  .stickyContainer {
    justify-content: end;
    padding-top: 72px;
  }

  .linksContainer {
    position: inherit;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  .volume {
    font-size: 120px;
  }
}
