.card {
  border-radius: 16px;
  outline: 1px solid var(--mui-palette-border-light);
  height: 100%;
  transition: 0.3s;
}

.card:hover {
  outline-color: var(--mui-palette-primary-main);
  outline-width: 2px;
}

.card * {
  text-decoration: none;
}

.cardLink {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 32px 32px;
  z-index: 1;
}

.cardLink:hover .icon {
  transform: rotate(45deg);
}

.cardLink:hover .icon path {
  fill: var(--mui-palette-primary-main);
}

.icon {
  position: absolute;
  top: 32px;
  right: 32px;
  transition: transform 0.3s;
}

.icon path {
  transition: fill 0.3s;
}

.gradient {
  outline-width: 0;
  background: linear-gradient(45deg, rgba(0,31,38,1) 0%, rgba(0,98,64,1) 100%);
  position: relative;
  overflow: hidden;
}

.gradient:hover:after {
  opacity: 1;
}

.gradient:after {
  content: "";
  background: linear-gradient(95.54deg, #001F26 -6.86%, #00B460 186.26%);
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: 0.3s;
}
