.title {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  margin: 24px auto 0;
  max-width: 725px;
}

.text p {
  margin: 0;
}

.buttons {
  margin-top: 40px;
}
