.iconWrapper {
  gap: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 170px;
  text-align: center;
}

.iconWrapper p {
  margin: 0;
}
