.parallaxWrapper {
  position: relative;
}

.baseImage {
  width: 100%;
  height: auto;
}

.movingElement {
  position: absolute;
  width: 90%;
  bottom: 122px;
  left: 22px;
}

@media (min-width: 600px) {
  .movingElement {
    width: 537px;
    bottom: 150px;
    left: -25px;
  }
}
