.postCard {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid var(--mui-palette-border-main);
  overflow: hidden;
  transition-duration: var(--transition-duration);
}

.postCard:hover {
  border: 1px solid var(--mui-palette-primary-main);
}

.link {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cardImage {
  height: 200px;
  object-fit: cover;
  object-position: center left;
  border-bottom: 1px solid var(--mui-palette-border-main);
  transition-duration: var(--transition-duration);
}

.cardBody {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.meta {
  display: flex;
  gap: 8px;
  align-items: baseline;
}

.category {
  display: flex;
  gap: 4px;
  align-items: baseline;
}

.title {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
