.card {
  outline: 1px solid var(--mui-palette-border-light);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
}

.image {
  width: 240px;
}

.title {
  width: 80%;
  margin-bottom: 24px;
}

@media (min-width: 600px) {
  .card {
    padding: 32px;
  }
}
