.container {
  position: relative;
}

.bg {
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: contain;
  min-height: 650px;
  max-height: 90vh;
  background-position: center top 190px;
}

.title {
  text-align: center;
  margin-top: 30px;
}

@media (min-width: 900px) {
  .bg {
    min-height: 50vh;
    background-position: center top;
  }

  .title {
    margin-top: 0px;
  }

  .spot1 {
    position: absolute;
    left: -300px;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    background-image: radial-gradient(at left, rgba(18, 255, 128, 0.4) 0%, rgba(246, 247, 248, 0) 80%);
    filter: blur(50px);
  }

  .showInXs {
    display: none;
  }
}
