.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 160px;
}

.caption {
  color: var(--mui-palette-primary-main);
}

.itemsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  max-width: 1156px;
  width: 100%;
  padding-bottom: 40px;
}

.itemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #121312;
  width: 148px;
  height: 160px;
  gap: 16px;
}

.itemImage {
  width: 80px;
  min-height: 80px;
  border-radius: 100%;
  overflow: hidden;
}
