.textBlock a {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.textFirst,
.imageFirst {
  flex-direction: column-reverse;
}

.textFirstMobile {
  flex-direction: column;
}

@media (min-width: 600px) {
  .textFirst {
    flex-direction: row;
  }

  .imageFirst {
    flex-direction: row-reverse;
  }
}
