.container {
  /* TODO: Move gradient to var as used in multiple places */
  background-image: linear-gradient(45deg, rgba(15, 255, 128, 1) 0%, rgba(94, 221, 255, 1) 100%);
  border-radius: 24px;
  color: var(--mui-palette-text-dark);
  padding: 24px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title {
  margin-bottom: 24px;
}

.text {
  margin-bottom: 16px;
}

@media (min-width: 600px) {
  .container {
    padding: 104px;
    border-bottom: 80px;
  }

  .title {
    margin-bottom: 0;
  }

  .text {
    margin-bottom: 28px;
  }
}
