.sectionContainer {
  width: 100%;
  height: 300vh;
}

.stickyContainer {
  background-color: #000;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  justify-content: flex-end;
  position: sticky;
  top: 100px;
  align-items: center;
  border-radius: 12px;
  width: 100%;
  max-width: calc(100dvw - 56px);
  height: calc(100dvh - 128px);
  overflow: hidden;
  margin: auto;
}

.scroll {
  margin: -10px auto 0;
  text-align: center;
  font-size: 12px;
  color: var(--mui-palette-text-primary);
}

.scroll::after {
  content: '';
  display: block;
  background-image: url('/images/angle-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  margin: auto;
}

@media (max-width: 900px) {
  .stickyContainer {
    top: 80px;
    width: 100%;
    max-width: calc(100dvw - 30px);
    height: calc(100dvh - 95px);
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
  z-index: 20;
}

.asciiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text {
  width: 70%;
  margin: auto;
}
