.container {
  text-align: center;
  background-color: var(--mui-palette-secondary-background);
  border-radius: 24px;
  color: var(--mui-palette-text-dark);
  padding: 24px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.text {
  margin-bottom: 16px;
}

.button {
  color: var(--mui-palette-secondary-main);
}

.chip {
  border-color: var(--mui-palette-text-primary);
  width: fit-content;
}

.linkButton {
  display: none;
}

@media (min-width: 900px) {
  .container {
    padding: 68px 104px;
    border-bottom: 80px;
    text-align: left;
    background-image: url('/images/Core/whitepaper-bg.svg');
    background-repeat: no-repeat;
    background-position: right top;
  }

  .linkButton {
    display: block;
  }

  .image {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1440px) {
  .container {
    margin-left: -104px;
    margin-right: -104px;
  }
}
