.progressBar :global .MuiLinearProgress-root {
  background-color: transparent;
  position: fixed;
  top: var(--header-height);
  z-index: 1000;
  width: 100%;
  left: 0;
}

.progressBar :global .MuiLinearProgress-bar {
  background-color: var(--mui-palette-primary-main); /* fallback */
  background-image: linear-gradient(260.13deg, #12ff80 1.24%, #5fddff 102.14%);
}

.title {
  overflow-wrap: break-word;
}

.title {
  margin-top: 16px;
}

.excerpt {
  margin-bottom: 24px;
}

.tagsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.chip {
  border-radius: 4px;
  height: 24px;
}

.authors {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatarGroup {
  margin: 16px 16px 16px 0px;
  justify-content: flex-end;
}

.content {
  margin-top: 32px;
  scroll-snap-type: y mandatory;
}

.content b {
  color: var(--mui-palette-text-primary);
  font-weight: bold;
}

.coverImage {
  max-width: none;
  width: 100%;
}

.postBody a {
  color: var(--mui-palette-primary-main);
}

.postBody a:hover {
  text-decoration: underline;
}

.showInMd {
  display: none;
}

.showInXs {
  display: block;
}

.sidebar ul {
  padding-left: 0px;
  list-style: none;
}

.sidebar li {
  margin-bottom: 8px;
}

.questionBox {
  margin-top: 40px;
  padding: 40px 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--mui-palette-border-main);
  border-radius: 6px;
}

.button {
  padding: 16px 32px;
  width: fit-content;
}

.button p {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  color: var(--mui-palette-text-dark);
}

.sidebarLinks {
  display: none;
}

.sharingLinks a {
  color: var(--mui-palette-text-primary);
}

@media (min-width: 900px) {
  .title {
    margin-top: 24px;
    overflow-wrap: normal;
  }

  .avatarGroup {
    margin: 24px 24px 24px 0px;
  }

  .content {
    margin-top: 0px;
    padding: 40px 50px;
  }

  .excerpt {
    margin-bottom: 56px;
  }

  .showInMd {
    display: block;
  }

  .showInXs {
    display: none;
  }

  .sidebar {
    position: sticky;
    top: calc(var(--header-height) + 24px);
  }

  .sidebarLinks {
    display: block;
    margin-top: 32px;
  }
}
