.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs a {
  transition-duration: var(--transition-duration);
}

.breadcrumbs a:hover {
  color: var(--mui-palette-text-primary);
  text-decoration: underline;
}

.breadcrumbs :global .MuiBreadcrumbs-separator {
  width: 8px;
  height: 8px;
}

.title {
  width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
