.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  max-width: 305px;
}

@media (min-width: 600px) {
  .image {
    width: 100%;
    max-width: 405px;
  }
}
