.container {
  position: relative;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textBlock a {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.partnersBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.textFirst,
.imageFirst {
  flex-direction: column-reverse;
}

.textFirstMobile {
  flex-direction: column;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.logo {
  height: 18px;
}

.imageWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image {
  max-width: 305px;
}

@media (min-width: 600px) {
  .textFirst {
    flex-direction: row;
  }

  .imageFirst {
    flex-direction: row-reverse;
  }

  .logo {
    height: 24px;
  }

  .image {
    width: 100%;
    max-width: 405px;
  }

  .spot1 {
    position: absolute;
    left: -300px;
    top: -200px;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    background-image: radial-gradient(at top left, rgba(18, 255, 128, 0.3) 0%, rgba(246, 247, 248, 0) 50%);
    filter: blur(70px);
  }

  .spot2 {
    position: absolute;
    right: -50px;
    top: -250px;
    z-index: -1;
    width: 1000px;
    height: 1000px;
    background-image: radial-gradient(at top right, rgba(41, 182, 246, 0.3) 0%, rgba(246, 247, 248, 0) 50%);
    filter: blur(70px);
  }
}
