.card {
  background: var(--mui-palette-border-background);
  box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  transition: var(--transition-duration);
}

.lastCard {
  padding: 0;
}

.lastCard .cardContent {
  padding: 40px;
  max-width: 516px;
}

.image {
  height: 100%;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.caption {
  background-image: linear-gradient(260.13deg, #12ff80 1.24%, #5fddff 102.14%);
  background-clip: text;
  color: transparent;
}

@media (min-width: 900px) {
  .card {
    height: 300px;
    flex-direction: row;
  }
}
