.container {
  margin-top: 150px;
  margin-bottom: 150px;
}

.containerMedium {
  margin-top: 180px;
}

.containerShort {
  margin-top: 80px;
  margin-bottom: 80px;
}

@media (min-width: 600px) {
  .container {
    margin-top: 350px;
    margin-bottom: 350px;
  }

  .containerMedium,
  .containerShort {
    margin-top: 250px;
    margin-bottom: 250px;
  }
}
