.container,
.containerMedium,
.containerShort {
  margin-top: 150px;
}

.containerTiny {
  margin-top: 80px;
  margin-bottom: 80px;
}

.hideMobile {
  display: none;
}

@media (min-width: 600px) {
  .hideMobile {
    display: block;
  }

  .container {
    margin-top: 350px;
  }

  .containerMedium {
    margin-top: 250px;
  }

  .containerShort {
    margin-top: 200px;
  }

  .containerTiny {
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
