.container,
.containerMedium,
.containerShort {
  margin-top: 150px;
}

.containerShoter {
  margin-top: 100px;
  margin-bottom: 100px;
}

.containerTiny {
  margin-top: 80px;
  margin-bottom: 80px;
}

.containerTinier {
    margin-top: 50px;
    margin-bottom: 50px;
}

.containerTiniest {
    margin-top: 30px;
    margin-bottom: 30px;
}

.hideMobile {
  display: none;
}

.centeredContent {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .hideMobile {
    display: block;
  }

  .container {
    margin-top: 300px;
  }

  .containerMedium {
    margin-top: 250px;
  }

  .containerShort {
    margin-top: 200px;
  }

  .containerShorter {
    margin-top: 175px;
    margin-bottom: 175px;
  }

  .containerTiny {
    margin-top: 150px;
    margin-bottom: 150px;
  }

  .containerTinier {
    margin-top: 125px;
    margin-bottom: 125px;
  }

  .containerTiniest {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .centeredContent {
    justify-content: center;
    align-items: center;
  }
}
