.anchor {
  position: relative;
  overflow: visible;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: -114px;
  overflow: hidden;
}

.backgroundArc {
  background-repeat: no-repeat;
  overflow: auto;
  background-size: contain;

  position: absolute;
  left: 0px;
  right: 0px;

  width: 100%;
  height: 100%;
}

.upperArc {
  background-image: url('/images/Safenet/upper-arc.png');
  background-position: center top 316px;
}

.lowerArc {
  background-image: url('/images/Safenet/lower-arc.png');
  background-position: center;

  bottom: -600px;
}

.video {
  width: 396px;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.captionWrapper {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.title {
  background: radial-gradient(129.11% 259.78% at 103.1% -21.2%, #ff5f00 0%, #ffd200 50%, #12ff80 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-transform: uppercase;
  text-align: center;

  font-size: 56px;
  line-height: 60px;
}

.text {
  max-width: 678px;
  text-align: center;
  font-weight: 400;
}

.buttonsWrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gradientButton {
  border-radius: 12px;
  background: radial-gradient(129.11% 259.78% at 103.1% -21.2%, #ff5f00 0%, #ffd200 50%, #12ff80 100%);
}

@media (min-width: 600px) {
  .container {
    margin-top: -214px;
  }

  .video {
    width: 791px;
  }

  .title {
    font-size: 92px;
    line-height: 92px;
  }

  .buttonsWrapper {
    flex-direction: row;
    gap: 54px;
  }
}
