.parallaxWrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 342px;
}

.baseImage {
  width: 100%;
  height: 290px;
}

.proposals {
  position: absolute;
  bottom: 242px;
  left: 60px;
  width: 144px;
}

.delegates {
  position: absolute;
  bottom: 150px;
  left: 190px;
  width: 162px;
}

.delegators {
  position: absolute;
  bottom: 0px;
  left: 126px;
  width: 162px;
}

@media (min-width: 600px) {
  .parallaxWrapper {
    width: 570px;
  }

  .baseImage {
    height: 404px;
  }

  .proposals {
    bottom: 333px;
    left: 125px;
    width: 226px;
  }

  .delegates {
    bottom: 207px;
    left: 325px;
    width: 227px;
  }

  .delegators {
    bottom: 27px;
    left: 210px;
    width: 226px;
  }
}
