.container {
  margin: 0 8px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.container .scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.container:hover .scroll {
  opacity: 1;
}

.content {
  padding: 40px 16px;
}

.wrapper {
  align-self: flex-start;
  min-width: 100%;
  height: 720px;
  display: flex;
  align-items: center;
}

.video {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  /* Filter */
  background-color: #000;
  opacity: 0.3;
}

.frame {
  position: absolute;
  background-color: var(--mui-palette-background-main);
  right: 0;
  bottom: 0;
  border-radius: 16px 0 0 0;
  width: 110px;
  height: 80px;
}

.frame::before {
  content: '';
  background: transparent;
  height: 2em;
  width: 2em;
  position: absolute;
  bottom: 0;
  left: -2em;
  border-bottom-right-radius: 16px;
  box-shadow: 0 16px 0 0 var(--mui-palette-background-main);
}

.frame::after {
  content: '';
  background: transparent;
  height: 2em;
  width: 2em;
  position: absolute;
  top: -2em;
  right: 0;
  border-bottom-right-radius: 16px;
  box-shadow: 0 16px 0 0 var(--mui-palette-background-main);
}

.scroll {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 64px;
  font-size: 12px;
  color: var(--mui-palette-text-primary);
}

.scroll::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 32px;
  border-left: 2px solid var(--mui-palette-text-primary);
  height: 144px;
}

.title {
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  color: var(--mui-palette-text-primary);
  margin-bottom: 24px;
}

.subtitle {
  font-size: 20px;
  line-height: 30px;
  color: var(--mui-mui-palette-text-primary);
}

.buttons {
  margin-top: 40px;
  display: flex;
  gap: 16px;
}

@media (min-width: 600px) {
  .title {
    font-size: 80px;
    line-height: 82px;
  }

  .subtitle {
    font-size: 24px;
    line-height: 36px;
  }

  .container {
    margin: 0 30px;
  }

  .frame {
    width: clamp(45%, 10vw, 600px);
  }

  .wrapper {
    height: 800px;
  }
}

@media (min-width: 900px) {
  .frame {
    height: 130px;
  }

  .scroll {
    bottom: 114px;
  }
}
