.card {
  background: var(--mui-palette-border-background);
  outline: 1px solid var(--mui-palette-border-light);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
  transition: var(--transition-duration);
}

.card::before {
  content: '';
  position: absolute;
  border-radius: 16px;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  z-index: -1;
  background: linear-gradient(to bottom left, #12ff80, #5fddff); /* Gradient colors */
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
  box-shadow: 20px 10px 30px 0px rgba(18, 255, 128, 0.3);
}

.card:hover .icon {
  transform: rotate(45deg);
}

.card:hover .icon path {
  fill: var(--mui-palette-primary-main);
}

.tag {
  background: var(--mui-palette-primary-main);
  padding: 4px 8px;
  border-radius: 6px;
  color: var(--mui-palette-border-background);
  font-weight: 500;
  line-height: 1;
  margin-top: 24px;
  font-size: 22px;
}

.icon {
  position: absolute;
  top: 32px;
  right: 32px;
  transition: transform var(--transition-duration);
}

@media (min-width: 600px) {
  .card {
    padding: 32px;
  }
}
