.textBlock a {
  text-decoration: underline;
  color: var(--mui-palette-primary-main);
}

.textFirst,
.imageFirst {
  flex-direction: column-reverse;
}

.textFirstMobile {
  flex-direction: column;
}

.imageWrapper {
  position: relative;
}

.bgImage {
  width: 100%;
  height: auto;
}

.image {
  position: absolute;
  width: 305px;
  bottom: 28px;
  left: 22px;
}

@media (min-width: 600px) {
  .textFirst {
    flex-direction: row;
  }

  .imageFirst {
    flex-direction: row-reverse;
  }

  .image {
    width: 440px;
    bottom: 75px;
    left: 60px;
  }
}
