.image {
  height: 100%;
  object-fit: cover;
  object-position: center left;
  border: 1px solid transparent;
  border-radius: 6px;
  transition-duration: var(--transition-duration);
}

.image:hover {
  border: 1px solid var(--mui-palette-primary-main);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.title,
.excerpt {
  margin-top: 16px;
}

@media (min-width: 900px) {
  .title {
    margin-top: 24px;
  }
}
