.tagline {
  display: inline-block;
  margin-bottom: 16px;
}

.image {
  object-fit: cover;
  object-position: center left;
  border: 1px solid transparent;
  border-radius: 6px;
  transition-duration: var(--transition-duration);
  border: 1px solid var(--mui-palette-border-main);
}

.image:hover {
  border: 1px solid var(--mui-palette-primary-main);
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.metaStart {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

.title,
.excerpt {
  margin-top: 16px;
}

.title a {
  color: var(--mui-palette-text-primary);
  text-decoration-color: var(--mui-palette-background-default);
  transition-duration: var(--transition-duration);
}

.title a:hover {
  text-decoration-color: var(--mui-palette-text-primary);
}

@media (min-width: 900px) {
  .image {
    height: 100%;
  }

  .title {
    margin-top: 24px;
  }
}
