.gradient {
  background: url("/images/eco-layer-1.svg") top center,
  url("/images/eco-layer-2.svg") center 50%,
  url("/images/eco-layer-3.svg") center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gradient:before, .gradient:after {
  content: "";
  top: 0;
  display: block;
  height: 100%;
  position: absolute;
  width: 10%;
}

.gradient:before {
  background: linear-gradient(90deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
  left: 0;
}

.gradient:after {
  background: linear-gradient(270deg, var(--mui-palette-background-main) 0%, rgba(18, 19, 18, 0) 100%);
  right: 0;
}

@media (min-width: 600px) {
  .gradient {
    background-size: auto;
  }
}