.parallaxWrapper {
  position: relative;
  text-align: center;
  margin: 0 auto;
  width: 342px;
}

.baseImage {
  width: 100%;
  height: auto;
}

.simulation {
  position: absolute;
  bottom: 110px;
  left: 0px;
  width: 342px;
}

@media (min-width: 600px) {
  .parallaxWrapper {
    width: 570px;
  }

  .simulation {
    bottom: 160px;
    width: 570px;
  }
}
