.wrapper {
  margin-top: 80px;
}

.list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  font-size: 16px;
  line-height: 20px;
  color: var(--mui-palette-primary-light);
}

.listItem a,
.subListItem a {
  display: block;
}

.listItem:hover a,
.subListItem:hover a {
  color: white;
}

.subList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.subListItem {
  font-size: 16px;
  line-height: 24px;
  color: var(--mui-palette-primary-light);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 16px;
}

.socials svg {
  width: 24px;
  height: 24px;
}

.logo {
  width: 150px;
  height: auto;
}

.badge :global .MuiBadge-badge {
  font-size: 14px;
  top: 4px;
  right: -12px;
}

@media (min-width: 600px) {
  .wrapper {
    margin-top: 120px;
  }

  .subList {
    column-gap: 32px;
    row-gap: 0;
  }

  .subListItem {
    line-height: 56px;
  }
}
