.parallaxWrapper {
  position: relative;
  text-align: center;
  width: 404px;
  margin: 0 auto;
}

.address1 {
  position: absolute;
  top: 0;
  left: -50px;
}

.address2 {
  position: absolute;
  bottom: 0;
  right: -50px;
}