.sectionContainer {
  height: 300vh;
  display: flex;
}

.stickyContainer {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
}

.slidingPanelContent {
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 64px;
  height: 100%;
  gap: 30px;
}

.percentage {
  font-size: 120px;
  line-height: 120px;
}

.text {
  width: 265px;
  font-size: 16px;
  line-height: 24px;
  align-self: flex-end;
  margin-bottom: auto;
}

.fraction {
  font-size: 32px;
  line-height: 32px;
}

.statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.punksGrid {
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--mui-palette-border-light);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 12px;
  padding-top: 80px;
}

.cryptopunk {
  width: 80px;
}

.cryptoPunkColumns {
  display: flex;
  gap: 24px;
}

@media (max-width: 900px) {
  .sectionContainer {
    height: 400dvh;
  }
  .stickyContainer {
    flex-direction: column-reverse;
  }

  .punksGrid {
    padding-top: 72px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .slidingPanelContent {
    justify-content: end;
    padding: 30px;
    gap: 30px;
  }

  .statsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .cryptopunk {
    width: 60px;
  }

  .cryptoPunkColumns {
    gap: 12px;
  }
}
