.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0px;
}

.tweetContainer {
  margin: 24px auto 0;
  width: 80%;
}

.tweetContainer > * {
  display: flex;
  justify-content: center;
}
