.sectionContainer {
  height: 150vh;
  position: relative;
}

.stickyContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}

.video {
  width: 100%;
  height: auto;
  max-width: 400px;
  max-height: 100%;
  object-fit: contain;
  opacity: 0.8;
  flex-shrink: 1;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  width: 240px;
  font-size: 16px;
  line-height: 24px;
  padding-top: 108px;
  padding-left: 36px;
  align-self: flex-start;
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  gap: 8px;
}

.linksContainer {
  position: absolute;
  top: 108px;
  right: 36px;
}

@media (max-width: 900px) {
  .stickyContainer {
    padding: 72px 20px 0;
    align-items: center;
  }

  .contentContainer {
    flex-grow: 1;
  }

  .video {
    width: 300px;
  }

  .text {
    padding-top: 0px;
    padding-left: 0px;
  }

  .textContainer {
    display: block;
    margin-top: 12px;
  }

  .linksContainer {
    position: static;
    margin: 0;
    align-self: flex-start;
  }
}

@media (max-height: 800px) {
  .video {
    max-width: 350px;
  }
  .text {
    padding-top: 72px;
  }
  .textContainer {
    margin-top: 32px;
  }
  .linksContainer {
    top: 72px;
  }
}

@media (max-height: 700px) {
  .video {
    max-width: 250px;
  }
}
