.card {
  background: var(--mui-palette-border-background);
  outline: 1px solid var(--mui-palette-border-light);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: var(--transition-duration);
}

.card::before {
  content: '';
  position: absolute;
  border-radius: 8px;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: linear-gradient(to bottom left, #12ff80, #5fddff);
  opacity: 0;
}

.card:hover::before {
  opacity: 1;
}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Outline */
.outline:hover {
  box-shadow: inset 0 0 0 2px var(--mui-palette-primary-main);
}

.outline:hover .arrow path {
  fill: var(--mui-palette-primary-main);
}

.outline .link div::after {
  background-color: var(--mui-palette-primary-main) !important;
}

.outline .link:hover path {
  fill: var(--mui-palette-primary-main) !important;
}

@media (min-width: 600px) {
  .card {
    width: 410px;
    height: min-content;
  }
}
